
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
/*google fonts*/
.cairo-uniquifier {
  font-family: "Cairo", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  font-variation-settings:
  "slnt" 0;
}
/*google font*/


.nav-item.active{
  background-color: #fff;
  border-radius: 5px;
}
.nav-item.active .nav-link{
  color: #2f6579;
  font-weight: bold;
}
.three-inputs span {
  color: blue;
}
.three-inputs p {
  width: 100%;
}
@media (max-width:650px) {
  .three-inputs p {
    font-size: 10px;
  }
}
.three-inputs .change {
  display: flex;
  align-items: center;
}
.three-inputs input {
  border: 2px solid rgb(226,218,226);
  width: 100%;
  outline: none;
  border-radius: 2px;
  padding: 5px;
}


.message {
  display: flex;
  margin: auto;
  background:#efefef;
  color:#fff;
  width: 50%;
  position: relative;
  top: 50%;
  margin-bottom: 100px;
}
@media (max-width:800px) {
  .message {
        width: 100%;
  }
}
.message span {
  color:blue;
  position: absolute;
  right: 2%;
  top: 2%;
  cursor: pointer;
  }
 
  .button-click button {
    color: #000;
    border: 2px solid #aea3a369;
    background: #aea3a369;
    text-transform: capitalize;
    padding: 10px 15px;
    border-radius: 12px;
  }
.change button span {
  color: #000;
 
}
.change .s-passwword{
  background: rgb(226,218,226);
  color: #000 !important;
  padding: 15px 20px;
  width: 35px;
  height: 35px;
  border: 2px solid rgb(226,218,226);
  border-radius: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  right: 0%;
  cursor: pointer;
}

@media (max-width:991px) {
  .change .s-passwword{
    position: relative !important;
    right: 0% !important;
  }
}
.modify button {
  color: #000;
  background: rgb(226, 218, 226);
  padding: 10px 20px;
  border: 2px solid rgb(226, 218, 226);
  border-radius: 12px;
}
.modify button span {
  color:  #000;
  font-size: 15px;
}
.agre label {
 font-weight: 600;
}
.agre span {
  color:  blue;
}
.change-img img {
  width: 150px !important;
  height: 150px !important;
  object-fit: cover;
  display: flex;
  margin: auto;
  margin-bottom: 20px;
  background: #fff;
  padding: 20px;
}
.change-img input {
  display: none;
}
.change-img label {
  color:  #000;
  background: #efefef;
  border: 2px solid #efefef;
  padding: 10px;
  cursor: pointer;
  border-radius: 10px;
}
.section-one {
  background: #aea3a369;
}
.section-one input {
  width: 100%;
  outline: none;
  border: 2px solid #aea3a369;
  background: #fff;
  padding: 5px;
  border-radius:5px ;
}
.mod button {
  background: #efefef;
  border: 2px solid #efefef;
  padding: 10px;
  border-radius: 10px;
  color: blue;
}
select {
  outline: none;
  border: 2px solid #aea3a369;
  background: #fff;
  padding: 5px;
  border-radius:5px ;
  cursor: pointer;
  width: 100%;
}
