/* Actions to do */
.overlay{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.418);
    z-index: 9;
}
.width-responsive-50{
    width: 50%;
}
.nav-item.active{
    background-color: #fff;
    border-radius: 5px;
  }
  .nav-item.active .nav-link{
    color: #2f6579;
    font-weight: bold;
  }
.parent-input {
    --input-height: 0.5rem;
    --input-color: #0d6efd;
    position: relative;
    display: flex;
  }
.parent-input input[type="range"] {
    appearance: none;
    height: 5px;
    border-radius: 0;
    accent-color: var(--input-color);
    width:200px;
  }
  .parent-input input[type="range"]::-webkit-slider-thumb {
    appearance: none;
    width: 12px; /* Adjust the width as needed */
    height: 12px; /* Adjust the height as needed */
    border-radius: 0; /* Make it squared */
    background-color: var(--input-color);
    cursor: pointer;
}



.rangeSperade{
    position: absolute;
    width: 4px;
    height: 12px;
    bottom: -4px;
    background-color: gray;
}
.second-range::after {
    content: "";
    position: absolute;
    top: 50%;
    right: calc(50% - 213px);
    width: 0;
    height: 0;
    border-top: 8px solid transparent;
    border-bottom: 8px solid transparent;
    border-left: 12px solid #0d6efd;
    transform: translateY(-50%);
}

.steps {
    font-size: 0.8rem;
    color: #777;
}

.step-container {
    margin-top: 5px; /* Adjust the spacing between input and steps */
}

.table-container{
    position: relative;
}

.table-container:before {
    content: '';
    position: absolute;
    z-index: -1;
    left: 31px; /* Adjust this value according to your desired margin width */
    top: 0px; /* Adjust this value according to your desired margin */
    bottom: -30px; /* Adjust this value according to your desired margin */
    width: 1px; /* Adjust this value according to your desired margin width */
    background-color: #0d6efd; /* Adjust this value according to your desired border color */
}

.table-container:after {
    content: '';
    position: absolute;
    z-index: -1;
    left: 31px; /* Align with the left border */
    bottom: -30px; /* Adjust this value according to your desired margin */
    width: 30px; /* Adjust this value according to your desired margin width */
    height: 1px; /* Adjust this value according to your desired border thickness */
    background-color: #0d6efd; /* Adjust this value according to your desired border color */
}

.arrow-bottom{
    position: absolute;
    z-index: -1;
    left: 61px; /* Adjust this value according to your desired margin width */
    bottom: -34px; /* Adjust this value according to your desired margin */
    width: 40px; /* Adjust this value according to your desired arrow width */
    height: 1px; /* Adjust this value according to your desired border thickness */
    
    /* Create the arrow */
    border: 5px solid transparent;
    border-left-color: #0d6efd; /* Adjust this value according to your desired arrow color */
}
.table-container-2{
    position: relative;
}

.table-container-2:before {
    content: '';
    position: absolute;
    z-index: 10;
    left: 31px; /* Adjust this value according to your desired margin width */
    top: 0px; /* Adjust this value according to your desired margin */
    bottom: -30px; /* Adjust this value according to your desired margin */
    width: 1px; /* Adjust this value according to your desired margin width */
    background-color: #0d6efd; /* Adjust this value according to your desired border color */
}

.table-container-2:after {
    content: '';
    position: absolute;
    z-index: 10;
    left: 31px; /* Align with the left border */
    bottom: -30px; /* Adjust this value according to your desired margin */
    width: 30px; /* Adjust this value according to your desired margin width */
    height: 1px; /* Adjust this value according to your desired border thickness */
    background-color: #0d6efd; /* Adjust this value according to your desired border color */
}

.arrow-bottom-2{
    position: absolute;
    z-index: 10;
    left: 61px; /* Adjust this value according to your desired margin width */
    bottom: -34px; /* Adjust this value according to your desired margin */
    width: 40px; /* Adjust this value according to your desired arrow width */
    height: 1px; /* Adjust this value according to your desired border thickness */
    
    /* Create the arrow */
    border: 5px solid transparent;
    border-left-color: #0d6efd; /* Adjust this value according to your desired arrow color */
}
.hide{
    display: block;
}
.rotate {
    transform: rotate(180deg);
  }

.tavle-dropdown-icon{
    display: none;
    cursor: pointer;
    font-size: 20px;
}

@media (max-width:992px) {
    .table-container,.table-alerts-container{
        font-size: 10px;
    }
    .table-container:before {
        left: 29px;
    }
    .table-container::after {
        left: 29px;
    }
    .arrow-bottom{
        left: 59px;
    }
    .table-container-2,.table-alerts-container{
        font-size: 10px;
    }
    .table-container-2:before {
        left: 29px;
    }
    .table-container-2::after {
        left: 29px;
    }
    .arrow-bottom-2{
        left: 59px;
    }
}
@media (max-width:767px) {
    .width-responsive-50{
        width: 75%;
    }
    .table-container{
        font-size: 14px;
    }
    .hide{
        display: none;
    }
    .tavle-dropdown-icon{
        display: block;
    }
    .table-container:before {
        left: 15px;
    }
    .table-container::after {
        left: 15px;
    }
    .arrow-bottom{
        left: 45px;
    }
    .table-container-2:before {
        left: 13px;
    }
    .table-container-2::after {
        left: 13px;
    }
    .arrow-bottom-2{
        left: 43px;
    }
}
@media (max-width:500px) {
    .parent-input input[type="range"]{
        width: 150px;
    }
    .second-range::after {
        right: calc(50% - 163px);
    }
}


/* Alerts */

.all-alerts-container{
    border-radius: 10px 10px 0 0;
    cursor: pointer;
}
.all-alerts-child-red{
    border-left: 5px #F46464 solid;
    border-radius: 5px 0 0 5px;
    cursor: pointer;
}
.all-alerts-child-blue{
    border-left: 5px #006BFF solid;
    border-radius: 5px 0 0 5px  ;
    cursor: pointer;
}
.all-alerts-end{
    border-radius: 0 0 10px 10px  ;
    cursor: pointer;
}
    .alert-icon-container {
        display: inline-block; /* Ensures the container only takes the necessary width */
        position: relative; /* Allows positioning of the counter */
    }
    
    .alert-counter {
        position: absolute; /* Position the counter relative to the container */
        top: 25%; /* Position it vertically centered */
        transform: translate(-50%, -50%); /* Center it horizontally and vertically */
        background-color: white;
        color: #F46464;
        border-radius: 50%;
        padding: 1px 4px;
        font-size: 8px;
    }

    .alert-list {
        display: none;
        position: absolute;
        top: 50%;
        transition: all 0.2s;
        left: 100%;
        width: 300px;
        color: #F46464;
        font-size: 12px;
        background-color: white;
        border: 1px solid #ccc;
        padding: 10px;
        z-index: 1000;
        border-radius: 0 10px 10px 10px;
    }
    .alert-list a{
        color: #F46464;
    }
    .alert-list::before {
        content: '';
        position: absolute;
        top: -1%;
        right: 100%;
        border: solid transparent;
        border-right-color: #F46464;
        border-top-color: #F46464;
        border-width: 7px;
    }
    
    .alert-item {
        margin-bottom: 5px;
    }
    
    .alert-icon-container:hover .alert-list {
        display: block;
    }
    
    .company-details,.invoice,.invoice-2{
        position: fixed;
        top: 5vh;
        left: 5vw;
        width: 90vw;
        height: 90vh;
        overflow-y: scroll;
        z-index: 10;
        border-radius: 5px;
    }
    
    .company-details .small-icons, .invoice .small-icons, .invoice-2 .small-icons{
        border-radius:50% ;
        width: 32px;
        height: 32px;
    }
    .line-through-icons {
        position: absolute;
        left: 0;
        right: 3%;
        bottom: 38%;
        border-top: 1px solid #006BFF; /* Adjust color and style as needed */
        z-index: 1; /* Ensure the line is behind the icons */
    }
    .arrow-right{
        position: absolute;
        z-index: 1;
        right: 0; /* Adjust this value according to your desired margin width */
        bottom: 33.5%; /* Adjust this value according to your desired margin */
        width: 40px; /* Adjust this value according to your desired arrow width */
        height: 1px; /* Adjust this value according to your desired border thickness */
        
        /* Create the arrow */
        border: 5px solid transparent;
        border-left-color: #0d6efd; /* Adjust this value according to your desired arrow color */
    }



    @media (max-width:992px) {
        .line-through-icons {
            right: 5%;
        }
    }
    @media (max-width:790px) {
        .line-through-icons {
            right: 6%;
        }
    }
    @media (max-width:676px) {
        .line-through-icons {
            right: 7%;
        }
    }
    @media (max-width:570px) {
        .line-through-icons {
            right: 8%;
        }
    }
    @media (max-width:500px) {
        .line-through-icons {
            right: 9%;
        }
    }
    @media (max-width:450px) {
        .line-through-icons {
            right: 10%;
        }
    }
    @media (max-width:850px) {
        .company-details .small-icons, .invoice .small-icons, .invoice-2 .small-icons{
            width: 23px;
            height: 23px;
            font-size: 10px;
        }
        .small-icons-container{
            font-size: 10px;
        }
        .actions-row{
            font-size: 10px;
        }
        .actions-row .btn{
            font-size: 8px;
            padding: 5px;
        }
    }
    @media (max-width:500px) {
        .company-details .small-icons, .invoice .small-icons{
            width: 15px;
            height: 15px;
            padding:2px 5px !important;
            font-size: 8px;
        }
        .small-icons-container{
            font-size: 8px;
        }
    }
    

    .input-container {
        display: inline-flex;
        align-items: center;
        padding: 5px;
        border-radius: 5px;
    }
    
    .input-container input {
        border: none;
        outline: none;
        padding: 2px 4px ;
        font-size: 10px;
        background-color: #F3F7FD;
        border: 1px solid #777676;
    }
    
    .input-container .euro-sign {
        padding: 2px 4px ;
        font-size: 10px;
        background-color: #F3F7FD;
        border: 1px solid #777676;
    }
    
    .big-table,.account-table {
        overflow-x: auto !important;
    }
    .big-table::-webkit-scrollbar, .account-table::-webkit-scrollbar { 
        display: none;  /* Safari and Chrome */
      }
      

    @media (max-width:1050px) {
        .my-search{
            font-size: 10px;
        }
        .my-search .fa-solid{
            font-size: 10px !important;
        }

    }
    @media (max-width:992px) {
        .big-table-child {
            width: 3500px !important;
        }
    }
    @media (max-width:767px) {
        .big-table-child {
            width: 3000px !important;
        }
    }


   /* email */


   .modal {
    display: none;
    position: fixed;
    z-index: 11;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
  }
  
  .modal-content {
    background-color: #fefefe;
    margin: 5% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 1200px;
    position: relative;
    border-radius: 10px;
    overflow: hidden;
  }
  
  .closeBtn {
    color: #aaa;
    position: absolute;
    right: 0;
    top: 0;
    font-size: 28px;
    font-weight: bold;
    padding: 10px 15px;
    cursor: pointer;
  }
  
  .closeBtn:hover,
  .closeBtn:focus {
    color: black;
    text-decoration: none;
  }
  
  
  .editor-container {
    width: auto;
    margin: auto;
    background: white;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .toolbar {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 10px;
    border-bottom: 1px solid #ddd;
    background: #f9f9f9;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
  }
  
  .toolbar button {
    background: none;
    border: 1px solid #ddd;
    padding: 5px 10px;
    border-radius: 3px;
    cursor: pointer;
  }
  
  .toolbar button:hover {
    background: #eee;
  }
  
  #editor {
    padding: 20px;
    height: 300px;
    overflow: auto;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    white-space: pre-wrap;
    word-wrap: break-word;
    overflow: auto;
  
  }
  
  .hash {
    font-size: 8rem;
  }