* {
  padding: 0;
  margin: 0;
}
body {
  font-weight: bold !important;
}

/* h1,h2,h3,h4,h5,h6 {
    font-size: 20px !important;
} */
.t-manage p {
  font-size: 50px;
}
p {
  font-size: 15px !important;
}
label {
  font-size: 15px !important;
}
.m-groups p {
  font-size: 18px !important ;
}
.three-content .btn {
  display: flex;
  justify-content: center;
  align-items: center;
}
.thebtn-1,
.thebtn-2,
.thebtn-3,
.thebtn-4,
.form-sleccts-op {
  font-size: 15px;
}
.icon-holab,
.repo-aler-and-flag {
  font-size: 15px;
  cursor: pointer;
  display: flex;
  gap: 10px;
}
.type-of-stuts
,.dispute-type {
  overflow-y: auto;
  height: 200px;
}
.type-of-stuts h6 a,
.dispute-type h6 a {
  color: #0d6efd;
  margin-left: 5px;
  font-size: 15px;
}
.type-of-stuts label,
.dispute-type label {
  font-size: 13.5px !important;
}
.not-empty input,
.not-empty span,
.green-checks input,
.green-checks span,
.resolved-checks input,
.resolved-checks span,
.yellows-checks input,
.yellows-checks span,
.ongoing-checks input,
.ongoing-checks span,
.promise-checks input,
.promise-checks span {
  margin: 5px;
}
.margin-ten-px {
  margin: 5px;
}
.not-empty span {
  color: #fff;
  background: #cccccc;
  font-size: 12px;
  padding: 5px;
  border-radius: 13px;
}
.green-checks span {
  color: #fff;
  background: #31f610;
  font-size: 12px;
  padding: 5px;
  border-radius: 13px;
}
.resolved-checks span {
  color: #fff;
  background: #73eb48;
  font-size: 12px;
  padding: 5px;
  border-radius: 13px;
}
.yellows-checks span {
  color: #fff;
  background: #dce01a;
  font-size: 12px;
  padding: 5px;
  border-radius: 13px;
}
.ongoing-checks span {
  color: #fff;
  background: #0078bb;
  font-size: 12px;
  padding: 5px;
  border-radius: 13px;
}
.promise-checks span {
  color: #fff;
  background: #3ab8ff;
  font-size: 12px;
  padding: 5px;
  border-radius: 13px;
}

.green-checks-2 span {
  color: #fff;
  background:#dce01a;
  width: 13px;
  height: 13px;
}
.green-checks-3 span {
  background: red;
}
.yellows-checks-2 span {
  color: #fff;
  background: #31F610;
  width: 13px;
  height: 13px;
}
.ongoing-checks-2 span {
  background: #0078bb;
  color: #fff;
  width: 13px;
  height: 13px;
}
.promise-checks-2 span {
  color: #fff;
  background: #3ab8ff;
  width: 13px;
  height: 13px;
}
.litige-administratif-checks span {
  color: #fff;
  background: #dce01a;
  width: 13px;
  height: 13px;
}
.litige-livraison-checks span {
    color: #fff;
    background: #3ab8ff;
    width: 13px;
    height: 13px;
}
.litige-matériel-manquant-checks span {
    color: #fff;
    background:  #503636;
    width: 13px;
    height: 13px;
}
.litige-prix-checks span {
    color: #fff;
    background: #73eb48;
    width: 13px;
    height: 13px;
}
.litige-qualité-checks span {
    color: #fff;
    background: #503636;
    width: 13px;
    height: 13px;
}
.missing-po-checks span {
    color: #fff;
    background: #0078BB;
    width: 13px;
    height: 13px;
}
.price-dispute-checks span {
    color: #fff;
    background: #31F610;
    width: 13px;
    height: 13px;
}

.dispute-color span {
  color: #fff;
  width: 15px;
  height: 15px;

}
.arrow-tables button { 
  font-size: 10px;
  background: none;
  border: none;
  display: block;
 
}


.litige-administratif-checks-1 span {
    color: #fff;
    background: #dce01a;
    font-size: 12px;
    padding: 5px;
    border-radius: 13px;
  }
  .litige-livraison-check-3 span {
      color: #fff;
      background: #3ab8ff;
      font-size: 12px;
      padding: 5px;
      border-radius: 13px;
  }
  .litige-matériel-manquant-checks-4 span {
      color: #fff;
      background:  #503636;
      font-size: 12px;
      padding: 5px;
      border-radius: 13px;
  }
  .litige-prix-checks-5 span {
      color: #fff;
      background: #73eb48;
      font-size: 12px;
      padding: 5px;
      border-radius: 13px;
  }
  
  .litige-qualité-checks-6 span {
      color: #fff;
      background: #503636;
      font-size: 12px;
      padding: 5px;
      border-radius: 13px;
  }
  .missing-po-checks-7 span {
      color: #fff;
      background: #0078BB;
      font-size: 12px;
      padding: 5px;
      border-radius: 13px;
  }
.price-dispute-checks-8 span {
    color: #fff;
    font-size: 12px;
    padding: 5px;
    background: #31F610;
    border-radius: 13px;
}

.export-btn ul li button {
  background: #198754;
  color: #fff;
  text-transform: capitalize;
}
@media (max-width: 991px) {
  p {
    font-size: 10px !important;
  }
  label {
    font-size: 12px !important;
  }
  .m-groups p {
    font-size: 14px !important;
  }
  .my-sear a,
  .m-groups a {
    font-size: 12px !important;
  }
  .m-groups span {
    font-size: 11px !important;
  }
  .ring-info button {
    font-size: 14px;
  }
  .three-content a {
    font-size: 14px !important;
  }
  .three-content span {
    font-size: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 4px;
  }
  .three-content .btn span {
    font-size: 14px;
  }
  .flex-buttons .btn {
    font-size: 14px !important;
    display: flex;
    justify-content: space-between;

    align-items: center;
  }
  .my-sections a {
    font-size: 13px;
  }
  .ifbutton {
    font-size: 13px;
  }
  .form-group div {
    font-size: 13px;
    display: flex;
  }
  .kokel-btn-repon {
    font-size: 10px !important;
    display: block !important;
  }
  .arrow-tables button {
    font-size: 8px;
    flex-direction: column;
    margin-top: -5px;
  }
}
@media (min-width: 320px) and (max-width: 575px) {
  .thebtn-1,
  .thebtn-2,
  .thebtn-3,
  .thebtn-4,
  .form-sleccts-op {
    font-size: 10px;
    display: block !important;
  }
  .icon-holab .alert-list {
    font-size: 10px;
  }
  .repo-aler-and-flag {
    display: block;
  }
  .hfour-clients {
    font-size: 15px;
  }
}
@media (min-width: 576px) and (max-width: 991px) {
  .thebtn-1,
  .thebtn-2,
  .thebtn-3,
  .thebtn-4,
  .form-sleccts-op {
    font-size: 9.9px !important;
    display: block !important;
  }
}
